*.suo
*.user
EventLog/bin/
EventLog/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EventLog/obj/
packages/
simple-sidebar/
simple-sidebar.zip
test/
index.html
main.css
Data/EventLog.Data.MongoDB/bin/
Data/EventLog.Data.MongoDB/obj/
Data/MySimpleRepository/bin/
Data/MySimpleRepository/obj/
